section{
    max-width:50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    background-color:aquamarine ;
    text-align: center;
    padding: 20px 0;
    border: 2px solid black;
    border-radius:1em;
}

li{
    list-style: none;
}